html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar-default {
    background-color: #fb9224;
  
}
.nav.justify-content-center li a button {
    /* color:black; */
    /* background-color: white; */
}

.nav.justify-content-center li a:hover {
    color: blue;
}

.nav.justify-content-center li a:active {
    color: blue;
} 

.navbar-nav.topnav-right {
    float:right;
    margin-left:15px;
    
    
}

/* .item { 
    padding: 20px;
   
 } */


/* .navbar-nav.topnav-right li a button{
    color: black;
    background-color: white;
} */
.navbar-nav.topnav-right li a:hover {
    color: blue;
}




.left {
    margin-top:10px ;
    margin-left:35px ;
    

}
.right{
    /* float: right; */
    margin-top:18px ;
    margin-right:50px ;
    
}

.thead {
    background-color: #fbe555;
}

.logo {
    border-radius: 50%;
}

.profileimg {
    border-radius: 50%;
}

/* body{
    margin-top:20px;
    background:#f8f8f8
} */

input[type="file"] {
    display: none;
}

.btn{
     background-color: #2a1a5e;
}
.btn:hover {
    background-color:darkblue;
}
/* 
.nav-pills .nav-link  {
    background-color: #2a1a5e;
} */


a:hover {
    text-decoration: none !important;
    color:darkgrey;
  }

/* @media screen and (max-width:800px) {
body{
    width:100%;
}  */
     /* The width is 100%, when the viewport is 800px or smaller */














