<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact US</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://colorhunt.co/palette/165127"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="contactUs.css">
    <link rel="stylesheet" href="search.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body>

    <!-- header starts -->

    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffa500; height: 60px">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="/" class="navbar-brand"><img src="./../icon.png"
                        style="margin-top: 0; margin-left: -15px; height: 60px; width: 160px" /> </a>
                <form class="form-inline my-2 my-lg-0">
                    <div class="wrap">
                        <div class="search mr-5" style="float: right">
                            <input type="text" class="searchTerm" id="search" placeholder="What are you looking for?" />
                            <button type="button" id="data" style="background-color: #ffa500; border-color: #ffa500;"
                                class="searchButton mt-1">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/user" class="nav-link mr-3"><i class="fa fa-user"></i><span class="text-dark"
                                style="font-size: 15px;"> My Account</span></a>
                    </li>

                    <li class="nav-item">
                        <a href="/userLogout" class="nav-link mr-3"><i class="fa fa-sign-out-alt"></i> <span
                                class="text-dark" style="font-size: 15px;">
                                Logout</span></a>
                    </li>


                    <li class="nav-item">
                        <a href="/user/cart" class="nav-link "><span
                                class="badge badge-secondary">{{cartLength}}</span><i
                                class="fa fa-shopping-cart"></i><span class="text-dark"
                                style="font-size: 15px;">Cart</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <section id="" data-text-list="[]" data-scroll-target="#" class="first-fold align-center pattern-gradient-light">
        <div class="container  banner-content l-banner " data-scroll-target="">

            <h1 style="text-align: center; margin-top: 30px">We’d love to hear from you</h1>

            <p class="sub-text" style="text-align: center;">Whether you have a question about features, pricing or
                anything else our team is ready to answer all your questions</p>
        </div>
    </section>
    <div class="row" id="contatti">
        <div class="container mt-5">

            <div class="row" style="height:300px;">
                <div class="col-md-6 maps">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30168.055728526713!2d72.84310115505394!3d19.06343133637409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8df0b86ea1b%3A0xce7eea4b1bbdf296!2sBandra%20Kurla%20Complex%2C%20Bandra%20East%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1578417540762!5m2!1sen!2sin"
                        frameborder="0" style="border:0; height: 400px;" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase mt-3 font-weight-bold text-black">CONTACT US</h2>
                    <form action="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control mt-2" placeholder=" First Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control mt-2" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control mt-2" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="number" class="form-control mt-2" placeholder="Mobile Number" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                        placeholder="Your Message" rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                            required>
                                        <label class="form-check-label" for="invalidCheck2">
                                            Terms & Conditions
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="color: #2a1a5e;">
                                <button class="button" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="container second-portion">
        <div class="row">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-envelope" ; aria-hidden="true"></i></div>
                        <div class="info" style="margin-top: -10px;">
                            <h3 class="title">MAIL & WEBSITE</h3>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp keepshopping@gmail.com
                                <br>
                                <br>
                                <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.ethnichub.com
                            </p>

                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="info" style="margin-top: -10px;">
                            <h3 class="title">CONTACT</h3>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
                                <br>
                                <br>
                                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-756706XXXX
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="info" style="margin-top: -10px;">
                            <h3 class="title" style="margin-bottom: 2px;">ADDRESS</h3>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot
                                "Bandra Kurla Complex", Mumbai - 450001.
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <!-- /Boxes de Acoes -->

            <!--My Portfolio  dont Copy this -->

        </div>
    </div>

    </div>


    <h5 class="text-white">Downloads</h5>



    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Download Our App</h5>
                    <li class="list-inline-item">
                        <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues"
                            target="_blank"><img
                                src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-appstore-white.png"
                                class=" mb-3" alt=""></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues"
                            target="_blank"><img
                                src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-googleplay-white.png"
                                class=" mb-3" alt=""></a>
                    </li>
                    </ul>


                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Our Company</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Sell On EthnicHub</a></li>

                    </ul>

                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Privacy Policies</h5>

                    <ul class="footer_ul_amrc">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Policy For Sellers</a></li>
                        <li><a href="#">Policy For Buyers</a></li>
                    </ul>

                </div>


                <div class=" col-sm-4 col-md  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Payment Options</h5>
                    <a href="#"><img src="images.jfif"></a>

                </div>
            </div>
        </div>
        <div class="container">
            <p class="text-center">© 2020 EthnicHub ®. All Rights Reserved.</p>
            <ul class="social_footer_ul">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>


    </footer>

</body>

</html>