<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Seller login form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">
        <link href="stylesheets/global.css" type="text/css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>

        <style>
          .form-control:focus {
            border-color: none;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
          }

        
        </style>

    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h6 class="card-title text-center">Sign In</h6>
                  <form class="form-signin" action="login" method="POST" >
                    <div class="form-label-group">
                      
                      <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email Address" required   autofocus>
                      <label for="inputEmail">Email address</label>
              
                    </div>
      
                    <div class="form-label-group">
                      
                      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required/>
                      <label for="inputPassword">Password</label>
                    </div>

                    <div class="form-label-group">
                      <div class="g-recaptcha" data-sitekey="6LcpXcUUAAAAABCQWg_H0dtHYJHjHkRraNME8aqJ"
                          id="#g-recaptcha-response"
                          style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0; margin-left:48px">
                      </div>
                    </div>
      
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                    
                    <a href="#modalForgot" data-toggle="modal" >Forgot your Password?</a>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase signinText" type="submit" style="margin-top:8px">Sign in</button>
                    <hr class="my-2">

                    <div class="form-group">

                        {{#if invalid}}
                            <div class="alert alert-danger alert-dismissible fade show">
                                Invalid credentials
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                        {{/if}}

                         {{#if captchaNotTicked}}
                            <div class="alert alert-danger alert-dismissible fade show">
                                Please tick the Captcha
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {{/if}}
                   
                    </div>
                  

                    <div class="btn-group">
                      <button type="button" class="loginBtn loginBtn--facebook">Login with Facebook</button>
                      <button type="button" class="loginBtn loginBtn--google">Login with Google</button>
                      
                    </div>
                  </form>

                  <div class="modal" id="modalForgot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="w-50 mx-auto">
                                  <form action="/forgot" class="form-group text-center" method="POST">
                                      <legend>Forgot Password</legend>
                                      <label for="email">Email</label>
                                      <input type="email" name="email" autofocus>
                                      <input type="submit" class="btn btn-danger transport" value="Reset Password">
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div id="signup">
                    Doesn't have an account? 
                    <a href="signup" class="signup"><u>Signup</u></a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script src="/assets/js/jquery-3.3.1.js"></script>
</html>