img {

    border-radius: 2px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100%;
    height:300px;
    margin: 60px;
    align-content: center;
    margin-left: 60px;
    margin: 20px 20px 0px 12px;
    
   
    
  }
  .bootCols{
    height:100px;
    margin:0;
    box-sizing:border-box;
    padding:5px;

  }
  .filterLabelContainer .filterLabelList p {
    margin-bottom: 2px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .4px;
    box-sizing: border-box;
    font-family: Rubik,sans-serif;

}

  .image:hover{
    transition: 0.2s ease-in;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
  }
  .checked {
    color: orange;
  }
 .shadow1{
   max-width: 400px;

 }
 

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
 
 .product-title {
  color: #666;
  font: 13px "font-regular";
  margin-bottom: 11px;
  max-height: 53px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 18px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  text-align: center;

 }
 [class*="col-"] {
  float: left;
  padding: 15px;
}

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  
  .shadow1:hover {
    transition: 0.2s ease-in;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);

  }
.pagination{
    margin-left: 200px;
}
  .pagination a {
    color: black;
    float: left;
    
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: black;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
 

  .filter{
     
      width: 200px;
      height: 500px;
      position: relative;
      left: 30px;
      top: 50px;  
      margin-left: 60px;  
  }
body{
    background: whitesmoke;
}
#min{
    width: 80px;
}
#brand {
    padding: 15px;
    border-radius: 3px !important;
    height: 50px !important;
    color: black !important;
    padding-right: 30px !important;
    font-size: 14px !important;
    border-color: black !important;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: whitesmoke url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
    background-position: right 5px top 50%;
}

#color {
    padding: 15px;
    border-radius: 3px !important;
    height: 50px !important;
    color: black !important;
    padding-right: 30px !important;
    font-size: 14px !important;
    border-color: black !important;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin-left: 20px url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
    background: whitesmoke url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
}

#avability{
    padding: 15px;
    border-radius: 3px !important;
    height: 50px !important;
    color: black !important;
    padding-right: 30px !important;
    font-size: 14px !important;
    border-color: black !important;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin-left: 20px url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
    background: whitesmoke url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;


}

.fixedimage{
  position: relative;
 
}

.condition-render-hung {
  position: relative;
  z-index: 1;
}

.condition-render-verticalFilters {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: margin 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: margin 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-top: 0;
  padding-top: 23px;
}
.vertical-filters-filters {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  bottom: 150px;
  position: relative;
 
  position: relative;
  flex: wrap;
}
.header-title {
  font-weight: 700;
}
.header-clearAllBtn {
  /* position: absolute; */
  top: 2px;
  right: 30px;
  font-weight: 500;
  color: #ff3f6c;
  font-size: 13px;
  cursor: pointer;
  margin-left: 50px;
}
.search-leftContainer {
  min-width: 252px;
  max-width: 252px;
  -webkit-box-flex: 0 !important;
  -webkit-flex-grow: 0 !important;
  -moz-box-flex: 0 !important;
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}
.vertical-filters-filters categories-container{

  background: white;
  width: 290px;
  margin-left: 20px;
}

.filter-search-expanded {
  width: 221px;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.filter-search-inputBox{
  border-radius: 15px;
  width: 221px;
  border: none;
  outline: none;
  font-size: 14px;
  background: whitesmoke;

  
}
.vertical-filters-filters .vertical-filters-label {
  display: block;
  width: 95%;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  min-height: 17px;
  color: #282c3f;
}
.search-leftContainer li {
  font-size: 14px;
  margin-bottom: 7px;
}

.common-customCheckbox vertical-filters-label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.common-customCheckbox vertical-filters-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
ul {
  list-style: none;
}

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
  color: black;
}

.wrap .search  {
  width: 100%;
  position: relative;
  display: flex;
}

.search .searchTerm {
  width: 100%;
  border: 3px solid #ffa500;
  border-right: none;
  padding: 5px;
  height: 42px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: darkslategrey;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-shopping-cart {
  font-size: 20px;
  color: darkslategrey;
}

.fa-user {
  font-size: 20px;
  color: darkslategrey;
}

.fa-sign-out-alt {
  font-size: 20px;
  color: darkslategrey;
}

.fa-truck-loading {
  font-size: 20px;
  color: darkslategrey;
}
/* header */
​
.top-head{
	background-color: #ffa500;
	}
a {color:black;}
img {
	width:100%;
	height: auto;

}
.twhite {color:#fff;}
.top-head ul li {padding-right:10px;margin-top: 1px; margin-left: 140px; margin-right: 40px;
font-size: 20px; 

}
section.sub-header ul.main-menu>li>a {
    position: relative;
    display: block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
section.sub-header {
    position: fixed;
    padding: 1px 0;
    left: 0;
    height: 42px;
    right: 0;
    z-index: 9;
    top: 100px;
}
section.sub-header ul.main-menu>li {
    display: inline-block;
}
.voonik-sub-header {
    background-color: #570090;
    top: 100px!important;
    border-bottom: thin solid #353535;
}
section.sub-header ul.main-menu>li>a {
    position: relative;
    display: block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.cont {
    width: 95vw;
    margin: 0 auto;
}
section.sub-header ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    margin-left: -11px;
    position: relative;
}
.shadow:hover {
    transition: 0.2s ease-in;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);

  }
​
​
/* body */
​
body {
	font-family: "Open Sans", sans-serif;
	height: 1700px;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 146px auto;
	padding: 0 70px;
}
.imageproduct{
   
    height: auto;
    width: auto;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	height: auto;
	width: auto;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 100%;
    max-height: 100%;
}
.slider-nav div {
	height: 50px;
	padding-top: 10px;
  }
  .slider-for div,
  .slider-nav div {
	background: #f2f2f2;
	text-align: center;
  }
.carousel .item .shadow:hover{
    transition: 0.2s ease-in;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
  }
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 30px;
	margin-left: auto;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
​
​
​
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ; position: absolute; width: 100%;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
​
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}
​
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
​
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.container-container {
    margin: 0 auto;
}

.column-base {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.container-base {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
  color: black;
}

.wrap .search  {
  width: 100%;
  position: relative;
  display: flex;
}

.search .searchTerm {
  width: 100%;
  border: 3px solid #ffa500;
  border-right: none;
  padding: 5px;
  height: 42px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: darkslategrey;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-shopping-cart {
  font-size: 20px;
  color: darkslategrey;
}

.fa-user {
  font-size: 20px;
  color: darkslategrey;
}

.fa-sign-out-alt {
  font-size: 20px;
  color: darkslategrey;
}

.fa-truck-loading {
  font-size: 20px;
  color: darkslategrey;
}
