html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar-default {
    background-color: #ffa500;
  
}

/* .nav.justify-content-center li a button {
    /* color:black; */
    /* background-color: white; */


.nav.justify-content-center li a:hover {
    color: blue;
}

.nav.justify-content-center li a:active {
    color: blue;
} 

.navbar-nav.topnav-right {
    float:right;
    margin-left:15px;
    
    
}



/* .item { 
    padding: 20px;
   
 } */


/* .navbar-nav.topnav-right li a button{
    color: black;
    background-color: white;
} */
.navbar-nav.topnav-right li a:hover {
    color: blue;
}




.left {
    margin-top:10px ;
    margin-left:35px ;
    

}
.right{
    /* float: right; */
    margin-top:18px ;
    margin-right:50px ;
    
}

.thead {
    background-color: #fbe555;
}

.logo {
    border-radius: 50%;
}

.profileimg {
    border-radius: 50%;
}

/* body{
    margin-top:20px;
    background:#f8f8f8
} */

input[type="file"] {
    display: none;
}

.btn{
     background-color: #2a1a5e;
}
.btn:hover {
    background-color:darkblue;
}
/* 
.nav-pills .nav-link  {
    background-color: #2a1a5e;
} */


a:hover {
    text-decoration: none !important;
    color:darkgrey;
}




/* @media screen and (max-width:800px) {
body{
    width:100%;
}  */
     /* The width is 100%, when the viewport is 800px or smaller */




/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ; position: absolute; width: 100%;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
​
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}
​
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
​
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.container-container {
    margin: 0 auto;
}

.column-base {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.container-base {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}










